@import "https://cdnjs.cloudfare.com/ajax/normalize.css";
@import './normilize.css';
@font-face {
  font-family: "Kino";
  src: url("../fonts/KINO/Kino-Regular.ttf");
}
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos/Golos-UI_Regular.ttf");
}
.header__container {
  position: relative;
  min-height: 100vh;
}
.header__content {
  position: relative;
  z-index: 2;
  padding: 30px 76px 66px 80px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 119px;
}
.header__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.paragraph__one {
  margin-bottom: 100px;
}
.paragraph__two {
  margin-bottom: 49px;
}
.paragraph__text {
  text-transform: uppercase;
  color: #336099;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 90px;
  padding: 76px 80px 88px 74px;
}
.contacts__content {
  width: 100%;
}
.contacts__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contacts__img {
  position: relative;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.contacts__img:hover {
  cursor: pointer;
}
.contacts__img--active {
  left: -80px;
}
.contacts__text {
  width: 0px;
  text-align: left;
  letter-spacing: -0.02em;
  font-size: 30px;
  font-weight: 500;
  padding: 0;
  background: #113E3E;
  color: #ffffff;
  border-radius: 360px;
  z-index: -1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.contacts__text:hover {
  cursor: pointer;
}
.contacts__text--active {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 90px 16px 15px;
}
.contacts__address {
  font-size: 24px;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__item.active > .contacts__img {
  left: -80px;
}
.contacts__item.active > .contacts__text {
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 90px 16px 15px;
}
.contacts__item.active > .contacts__text:hover {
  cursor: pointer;
}
.contacts__map {
  border-radius: 50px;
  height: 50%;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 74px 80px 80px;
}

.skolkovo__text, .roscongress__text, .sber__text, .encata__text, .karfidovlab__text, .rudn__text {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  right: 0;
}

.skolkovo {
  position: relative;
}
.skolkovo:hover .skolkovo__text {
  display: block;
}

.principles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
  padding: 80px 72px 80px 75px;
}
.principles__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}
.principles__block:not(:last-child) {
  margin-bottom: 69px;
}

.idea__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 148px;
  padding: 100px 82px 80px 72px;
}
.idea__text {
  text-align: center;
  border: 0.5px solid #000000;
  border-radius: 50px;
  padding: 32px 28px;
}

.accelerator__container {
  padding: 66px 126px 57px 106px;
}
.accelerator__content {
  padding-top: 20px;
  padding-bottom: 29px;
}
.accelerator__title {
  margin-bottom: 20px;
}
.accelerator__text {
  margin-bottom: 34px;
}
.accelerator__buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  gap: 20px;
}
.accelerator__images {
  position: relative;
  width: 740px;
  height: 450px;
}
.accelerator__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.accelerator__items {
  position: relative;
  height: 330px;
  width: 470px;
}
.accelerator__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.accelerator__opacity {
  opacity: 1;
  visibility: visible;
}
.accelerator__swiper_button:hover {
  cursor: pointer;
}
.accelerator__swiper_button:hover circle {
  stroke: #339FD5;
}
.accelerator__swiper_button:hover path {
  fill: #339FD5;
}

.swiper__wrapper {
  margin-bottom: 57px;
}
.swiper__slide {
  display: -webkit-box;
  gap: 40px;
}
.swiper__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.swiper__block {
  width: 116px;
  height: 14px;
  background: #113E3E;
  border-radius: 35px;
  border: none;
}
.swiper__block--active {
  background: #4D2424;
}
.swiper__block:hover {
  cursor: pointer;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #336099;
  border-radius: 20px;
  width: 231px;
  height: 62px;
}

.description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding: 0 96px 0 70px;
  margin-bottom: 109px;
}
.description__title {
  margin-bottom: 35px;
}
.big_image {
  --_t: 3.2 !important;
  --_x: 0 !important;
  --_y: 0 !important;
  -webkit-filter: grayscale(0) !important;
          filter: grayscale(0) !important;
  z-index: 2 !important;
}

.gallery {
  width: 100%;
  --s: 170px;
  /* control the size */
  --g: 10px;
  /* control the gap */
  display: -ms-grid;
  display: grid;
  margin: calc(var(--s) + var(--g));
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.gallery > img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  -o-object-fit: cover;
     object-fit: cover;
  /*   clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%); */
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  -webkit-transform: translate(var(--_y, 0), var(--_x, 0)) scale(var(--_t, 1));
          transform: translate(var(--_y, 0), var(--_x, 0)) scale(var(--_t, 1));
  cursor: pointer;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.gallery > img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {
  --_x: calc(-70% - var(--g));
  --_y: calc(-45% - .87*var(--g));
}

.gallery > img:nth-child(7) {
  --_x:calc( 70% + var(--g));
  --_y:calc(55% - .87*var(--g));
}

.gallery > img:nth-child(3) {
  --_y:calc(-46% - .87*var(--g));
  --_x:calc(82% - .87*var(--g));
}

.gallery > img:nth-child(5) {
  --_y:calc(-96% - .87*var(--g));
  --_x:(72% + .87*var(--g));
}

.gallery > img:nth-child(4) {
  --_x: calc(-70% - var(--g));
  --_y: calc(45% + .87*var(--g));
}

.gallery > img:nth-child(6) {
  --_y:calc( 96% + .87*var(--g));
}

.gallery > img:nth-child(4) {
  --_x:calc(-73% - .5*var(--g));
}

.gallery > img:nth-child(5),
.gallery > img:nth-child(6) {
  --_x:calc( -4% + .5*var(--g));
}

body {
  color: #000000;
  font-family: "Golos UI";
  margin: 0;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Kino";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  color: #000000;
  text-transform: uppercase;
}

h2 {
  font-family: "Golos UI";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: #000000;
}

h3 {
  font-family: "Kino";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

h4 {
  font-family: "Golos UI";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
}

h5 {
  font-family: "Golos UI";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

p {
  font-family: "Golos UI";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.9);
}